.task-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #D9D9D9;
}
.more-icon{
    margin-left: auto;
}
.backicon, .moreicon{
    color: black;
}
.task-name{
    background-color: #D9D9D9;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
/* .task-name{
    background-color: #D9D9D9;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    margin-top: -1em;
    font-weight: 700;
} */
.task-input{
    border: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #D9D9D9;
    font-size: 20px;
    text-align: center;
    margin-top: -1em;
    font-weight: 700; 
}
/* .task-space{
    width: 100%;
} */
.task-items{
    border: none;
    outline: none;
    width: 90%; 
    background-color: #E6E6FA;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;   
}
.tasklists{
    overflow: auto;
}
.tasklists::-webkit-scrollbar {
    display: none;
} 