/*LANDING PAGE*/
.landcontainer{
  background: #E6E6FA;
  position: relative;
  width: 595px;
  height: 940px;
}
.landtitle{
  position: absolute;
  width: 137px;
  left: calc(50% - 137px/2);
  top: 5%;
  bottom: 90.32%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  text-align: center;
  /* slate blue */
  color: #6A5ACD;
}
.landcontent h3{
  position: absolute;
  width: 293px;
  height: 36px;
  left: calc(50% - 293px/2);
  top: 615px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.landcontent p{
  position: absolute;
  width: 557px;
  height: 54px;
  left: calc(50% - 557px/2);
  top: 694px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
